<div id="home-root">
    <div id="home-header">
        <h1>DISCOWILD</h1>
        <h3>Be on the right tracks!</h3>
    </div>

    <div id="artists-list-container" class="row">
        <div ng-repeat="artist in artistsData" class="artist-container col s6">
            <div><img ng-src="{{artist.images[0].uri150}}" alt="Profil" /></div>
            <div><a href="{{artist.uri}}">{{ artist.name }}</a></div>
            <div>Membres actifs : {{numberOfMembers(artist)}}</div>
        </div>
    </div>
</div>