<link rel="stylesheet" href="style/main.css">

<div id="artist-root">
    <div class="artistImages">
        <img ng-src={{artistImg}} />
    </div>
    <div class="artistDescription">
        <ul>
            <li>Name: {{ $ctrl.artistName}}</li>
            <li>Profile: {{ artistProfile}}</li>
            <span ng-repeat="url in artistSites">
            <li>Sites: {{url}}</li>
            </span>
            <span ng-repeat = "member in artistMembers">
            <li>Members: {{artistMembers[index]}}</li>
            </span>
        </ul>
    </div>
</div>
